
body {
    background-color: #dedede;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 32px;
}

a {
    color: #000;
    text-decoration: none;
    font-family:Arial, sans-serif;
}

p {
   font-size: 25px;
   font-family:Arial, sans-serif;
}

img{
  width:100%;
}


p{
  text-align:center;
}

div img{
    width:150px;
    height: 150px;
    display:block;
    margin:auto;
}

div{
  display: inline-block;
  width: 24%;
  margin: 5px;
  padding: 2px;
}

/* ---------- MEDIA QUERY 1: điện thoại nhỏ ---------- */
@media screen and (max-width: 600px) {
  
    /* Chỉnh kích thước div */
    .container, section, article {
      width: 100%;
      padding: 10px;
    }
  
    /* Hình ảnh co theo chiều rộng */
    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }
  